Repository hammzj/simple-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix -c ./cypress/.eslintrc.cjs, stylelint --fix, prettier --write

fix: use checkout action first
  .github/workflows/setup-node.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix: use checkout action first
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:create as action and not workflow
  .github/actions/setup-node.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:create as action and not workflow
  .github/actions/setup-node.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:create as action and not workflow
  .github/workflows/tsc-and-lint.yml
Due: none

fix:create as action and not workflow
  .github/actions/setup_node/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:create as action and not workflow
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:this is harder than it needs to be
  .github/actions/setup_node/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/setup_node/workflow.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:this is harder than it needs to be
  .github/actions/setup_node/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:this is harder than it needs to be
  .github/actions/setup_node/action.yml
Due: none

fix:specify shell
  .github/actions/setup_node/action.yml
Due: none

fix:wrong file name
  .github/workflows/test.yml
Due: none

chg:use reusable workflow for setting up node + better test config (#36)
  .github/actions/setup_node/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:step was not configured properly
  .github/workflows/build-and-deploy.yml
Due: none

chg:text-align start for about page
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

fix:spacing adjustments
  src/components/weather.accordion.tsx
Due: eslint --fix, prettier --write

chg:better readability of weather icon utility classes
  src/components/utils.tsx
Due: eslint --fix, prettier --write

chg:move tests into weather icon spec
  cypress/component/components/utils.cy.js
  cypress/component/components/weather.icon.cy.js
  src/components/utils.tsx
  src/components/weather.icon.tsx
Due: eslint --fix, prettier --write

chg:update components to allow nighttime variants
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/fixtures/open_meteo_api/forecast_api/fetch.all.weather.for.location.200.berlin.json
  src/components/current.weather.card.tsx
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

fix:typings
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

Dev/small enhancements (#37)
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/utils.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.icon.cy.js
  cypress/fixtures/open_meteo_api/forecast_api/fetch.all.weather.for.location.200.berlin.json
  src/components/current.weather.card.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/pages/about.page.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

fix:reverse is_day to be correct
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.icon.cy.js
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

fix:reverse is_day to be correct (#38)
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.icon.cy.js
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

fix:weather icon not showing for clear sky
  cypress/component/components/current.weather.card.cy.js
  src/components/current.weather.card.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

fix:weather icon not showing for clear sky
  cypress/component/components/current.weather.card.cy.js
Due: eslint --fix, prettier --write

Dev/issue 39 (#40)
  cypress/component/components/current.weather.card.cy.js
  src/components/current.weather.card.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

add:better values for snowfall
  cypress/component/components/weather.accordion.cy.js
  cypress/component/services/api.cy.js
  src/components/weather.accordion.tsx
  src/services/api/index.ts
  src/services/open_meteo_api/forecast_api/index.ts
Due: eslint --fix, prettier --write

chg:better file and ts organization
  src/components/settings.menu.tsx
Due: eslint --fix, prettier --write

chg:better file and ts organization
  src/components/weather.view.container.tsx
  src/pages/location.results.page.tsx
  src/pages/weather.page.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

chg:better file and ts organization
  src/components/current.weather.card.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

chg:better file and ts organization
  src/components/bottom.nav.bar.tsx
  src/components/current.weather.card.tsx
  src/components/precipitation.chance.tsx
  src/components/utils.tsx
Due: eslint --fix, prettier --write

chg:better file and ts organization
  src/components/location.data.button.tsx
  src/components/saved.locations.tsx
  src/components/utils.tsx
Due: eslint --fix, prettier --write

fix:update mounted element params to be correct
  cypress/component/components/weather.view.container.cy.js
Due: eslint --fix, prettier --write

Dev/tidying (#41)
  cypress/component/components/weather.view.container.cy.js
  src/components/bottom.nav.bar.tsx
  src/components/current.weather.card.tsx
  src/components/location.data.button.tsx
  src/components/precipitation.chance.tsx
  src/components/saved.locations.tsx
  src/components/settings.menu.tsx
  src/components/utils.tsx
  src/components/weather.view.container.tsx
  src/pages/location.results.page.tsx
  src/pages/weather.page.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

add:notify when it's the current day
  cypress/component/components/weather.accordion.cy.js
  src/components/weather.accordion.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  eslint --fix -c ./cypress/.eslintrc.cjs: any of: cypress/*.{cjs,mjs,js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{cjs,mjs,js,jsx,ts,tsx,json,css,md}
