Repository hammzj/simple-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix -c ./cypress/.eslintrc.cjs, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "cypress/*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix -c ./cypress/.eslintrc.cjs"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{cjs,mjs,js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

add:hopeful temp fix for Issue #10
  src/routes/router.js
Due: eslint --fix, prettier --write

chg:temporarily trying to handle issue 10
  src/routes/router.js
Due: eslint --fix, prettier --write

fix:font name in css file. I don't think it does much here
  src/index.css
Due: stylelint --fix, prettier --write

add:only run test file on PRs made to "main"
  .github/workflows/test.yml
Due: none

add:hopeful error boundary
  src/App.jsx
  src/components/error.boundary.tsx
  src/components/page.tsx
  src/components/text.link.tsx
  src/pages/error.page.tsx
  src/routes/paths.js
  src/routes/router.js
Due: eslint --fix, prettier --write

chg:use only the hash router. Enhance when deploying outside of gh-pages
  src/routes/router.js
Due: eslint --fix, prettier --write

chg:env var names
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
Due: none

fix:how to handle hashrouter stuff with cypress
  cypress.config.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/pages/page.object.js
Due: eslint --fix, prettier --write

fix:hashrouter enhancements. trying to set a better homepage
  package.json
  src/routes/paths.js
Due: eslint --fix, prettier --write

Dev/app/issue 10 (#14)
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  cypress.config.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/pages/page.object.js
  package.json
  src/App.jsx
  src/components/error.boundary.tsx
  src/components/page.tsx
  src/components/text.link.tsx
  src/index.css
  src/pages/error.page.tsx
  src/routes/paths.js
  src/routes/router.js
Due: eslint --fix, stylelint --fix, prettier --write

revert:use original homepage
  package.json
Due: prettier --write

chg:use hash symbol in URL again
  package.json
Due: prettier --write

chg:update index.html metadata
  public/index.html
Due: none

fix:babel warning
  package.json
  yarn.lock
Due: prettier --write

fix:some css alignment + spacing issues
  src/components/precipitation.chance.tsx
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
Due: eslint --fix, prettier --write

fix:remove /#/ from homepage
  package.json
Due: prettier --write

Dev/app/issue 10 further enhancements (#15)
  package.json
  public/index.html
  src/components/precipitation.chance.tsx
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix:tidy up page margins
  src/components/bottom.nav.bar.tsx
  src/components/page.tsx
  src/components/top.nav.bar.tsx
Due: eslint --fix, prettier --write

chg:update about page content
  src/constants.ts
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

add:disable search button when field is empty
  cypress/component/components/location.search.form.cy.js
  src/components/location.search.form.tsx
Due: eslint --fix, prettier --write

add:allow setting themes on cy.mount
  cypress/support/commands.js
  cypress/support/component.js
Due: eslint --fix, prettier --write

add:link in README.md
  README.md
Due: prettier --write

rm:initial react docs
  docs/REACT.md
Due: prettier --write

add:padding on page
  src/pages/location.results.page.tsx
Due: eslint --fix, prettier --write

Dev/app/tidying (#16)
  README.md
  cypress/component/components/location.search.form.cy.js
  cypress/support/commands.js
  cypress/support/component.js
  docs/REACT.md
  src/components/bottom.nav.bar.tsx
  src/components/location.search.form.tsx
  src/components/page.tsx
  src/components/top.nav.bar.tsx
  src/constants.ts
  src/pages/about.page.tsx
  src/pages/location.results.page.tsx
Due: eslint --fix, prettier --write

wip:dark mode
  src/App.jsx
  src/components/bottom.nav.bar.tsx
  src/components/settings.menu.tsx
  src/components/utils.tsx
  src/constants.ts
  src/pages/settings.page.tsx
  src/routes/paths.js
  src/routes/router.js
  src/theme.jsx
Due: eslint --fix, prettier --write

wip:dark mode
  src/App.jsx
Due: eslint --fix, prettier --write

add:dark mode
  src/components/bottom.nav.bar.tsx
  src/components/location.data.button.tsx
  src/components/settings.menu.tsx
  src/components/text.link.tsx
  src/components/top.nav.bar.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.view.container.tsx
  src/pages/about.page.tsx
  src/theme.jsx
Due: eslint --fix, prettier --write

add:trim whitespace from input
  src/components/location.search.form.tsx
Due: eslint --fix, prettier --write

chg:better describe attribution link text
  src/components/open-meteo-attribution-link.tsx
Due: eslint --fix, prettier --write

add:tests for settings page; remove unused icons
  cypress/component/components/settings.menu.bar.cy.js
  cypress/e2e/pages/settings.page.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/settings.menu.object.js
  cypress/page_objects/pages/settings.page.object.js
  cypress/support/commands.js
  src/components/icons/weather_icons/clear-day.icon.tsx
  src/components/icons/weather_icons/cloudy.icon.tsx
  src/components/icons/weather_icons/fog-day.icon.tsx
  src/components/icons/weather_icons/overcast-day.icon.tsx
  src/components/icons/weather_icons/svg/clear-day.svg
  src/components/icons/weather_icons/svg/clear-night.svg
  src/components/icons/weather_icons/svg/cloudy.svg
  src/components/icons/weather_icons/svg/code-red.svg
  src/components/icons/weather_icons/svg/extreme-day-drizzle.svg
  src/components/icons/weather_icons/svg/fog-day.svg
  src/components/icons/weather_icons/svg/overcast-day.svg
  src/components/utils.tsx
Due: eslint --fix, prettier --write

add:tests for settings page; remove unused icons
  cypress/component/components/settings.menu.cy.js
Due: eslint --fix, prettier --write

add:tests for settings page; remove unused icons
  cypress/e2e/pages/settings.page.cy.js
  cypress/support/component.js
  cypress/support/e2e.js
  cypress/support/e2e.ts
Due: eslint --fix, prettier --write

add:allow units to be changed in settings.menu.tsx
  src/components/settings.menu.tsx
  src/constants.ts
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

Dev/app/dark mode (#17)
  cypress/component/components/settings.menu.cy.js
  cypress/e2e/pages/settings.page.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/settings.menu.object.js
  cypress/page_objects/pages/settings.page.object.js
  cypress/support/commands.js
  cypress/support/component.js
  cypress/support/e2e.js
  cypress/support/e2e.ts
  src/App.jsx
  src/components/bottom.nav.bar.tsx
  src/components/icons/weather_icons/clear-day.icon.tsx
  src/components/icons/weather_icons/cloudy.icon.tsx
  src/components/icons/weather_icons/fog-day.icon.tsx
  src/components/icons/weather_icons/overcast-day.icon.tsx
  src/components/icons/weather_icons/svg/clear-day.svg
  src/components/icons/weather_icons/svg/clear-night.svg
  src/components/icons/weather_icons/svg/cloudy.svg
  src/components/icons/weather_icons/svg/code-red.svg
  src/components/icons/weather_icons/svg/extreme-day-drizzle.svg
  src/components/icons/weather_icons/svg/fog-day.svg
  src/components/icons/weather_icons/svg/overcast-day.svg
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/components/open-meteo-attribution-link.tsx
  src/components/settings.menu.tsx
  src/components/text.link.tsx
  src/components/top.nav.bar.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.view.container.tsx
  src/constants.ts
  src/pages/about.page.tsx
  src/pages/settings.page.tsx
  src/routes/paths.js
  src/routes/router.js
  src/theme.jsx
Due: eslint --fix, prettier --write

add:testing settings menu
  cypress/component/components/settings.menu.cy.js
  cypress/page_objects/components/settings.menu.object.js
  cypress/support/commands.js
  src/components/settings.menu.tsx
Due: eslint --fix, prettier --write

add:hoist setting default settings if not initially set on App load
  src/App.jsx
Due: eslint --fix, prettier --write

add:more settings page tests;tidy up cypress utils
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/settings.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/e2e/utils.js
  cypress/support/commands.js
Due: eslint --fix, prettier --write

chg: add more margins on the top navbar
  src/components/top.nav.bar.tsx
Due: eslint --fix, prettier --write
