Repository hammzj/simple-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix -c ./cypress/.eslintrc.cjs, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "cypress/*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix -c ./cypress/.eslintrc.cjs"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{cjs,mjs,js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

add:tsc workflow
  .github/workflows/tsc.yml
Due: none

add:use my own command for tsc
  .github/workflows/tsc.yml
Due: none

Dev/app/additional settings (#19)
  .github/workflows/tsc.yml
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/settings.menu.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/settings.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/e2e/utils.js
  cypress/page_objects/components/settings.menu.object.js
  cypress/support/commands.js
  src/App.jsx
  src/components/settings.menu.tsx
  src/components/top.nav.bar.tsx
  src/constants.ts
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

add:ts definitions for app and theme
  src/App.tsx
  src/theme.tsx
Due: eslint --fix, prettier --write

add:use memoization w/ local storage for color mode (dark mode)
  cypress/component/components/settings.menu.cy.js
  cypress/e2e/pages/settings.page.cy.js
  src/App.tsx
  src/components/settings.menu.tsx
  src/components/utils.tsx
  src/constants.ts
  src/contexts/index.tsx
  src/theme.tsx
Due: eslint --fix, prettier --write

Dev/app/issue 18 (#22)
  cypress/component/components/settings.menu.cy.js
  cypress/e2e/pages/settings.page.cy.js
  src/App.tsx
  src/components/settings.menu.tsx
  src/components/utils.tsx
  src/constants.ts
  src/contexts/index.tsx
  src/theme.tsx
Due: eslint --fix, prettier --write

wip:api spec
  cypress/component/services/api.cy.js
  cypress/support/commands.js
Due: eslint --fix, prettier --write

chg:rename settings page spec; add tests for defaults + page reload test for dark mode
  cypress/e2e/pages/settings.page.and.website.settings.cy.js
  cypress/e2e/pages/settings.page.cy.js
Due: eslint --fix, prettier --write

fix:persist dark mode on reload
  src/App.tsx
  src/theme.tsx
Due: eslint --fix, prettier --write

Dev/app/issue 23 (#24)
  cypress/e2e/pages/settings.page.and.website.settings.cy.js
  cypress/e2e/pages/settings.page.cy.js
  src/App.tsx
  src/theme.tsx
Due: eslint --fix, prettier --write

Update open-meteo-attribution-link.tsx
  src/components/open-meteo-attribution-link.tsx
Due: eslint --fix, prettier --write

Update bottom.nav.bar.object.js
  cypress/page_objects/components/bottom.nav.bar.object.js
Due: eslint --fix, prettier --write

Update about.page.tsx
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

Update constants.ts
  src/constants.ts
Due: eslint --fix, prettier --write

Update open meteo attribution (#25)
  cypress/page_objects/components/bottom.nav.bar.object.js
  src/components/open-meteo-attribution-link.tsx
  src/constants.ts
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

chg:go directly to the repo instead of the author homepage
  README.md
  cypress/component/components/bottom.nav.bar.cy.js
  src/components/bottom.nav.bar.tsx
  src/constants.ts
Due: eslint --fix, prettier --write

Move website link to the top
  README.md
Due: prettier --write

add:api spec
  cypress/component/services/api.cy.js
  cypress/support/commands.js
Due: eslint --fix, prettier --write

add:eslint
  .eslintignore
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

fix: address eslint
  src/components/error.boundary.tsx
  src/components/weather.accordion.tsx
  src/contexts/index.tsx
  src/pages/about.page.tsx
  src/pages/error.page.tsx
  src/pages/index.page.tsx
  src/pages/settings.page.tsx
  src/pages/weather.page.tsx
  src/theme.tsx
Due: eslint --fix, prettier --write

chg:use a new workflow for linting and tsc
  .github/workflows/tsc-and-lint.yml
Due: none

Dev/app/add test for api transformation (#26)
  cypress/component/services/api.cy.js
  cypress/support/commands.js
Due: eslint --fix, prettier --write

add:prettier with lint-staged
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

add:prettier with lint-staged
  src/components/weather.accordion.tsx
  src/services/api/index.ts
Due: eslint --fix, prettier --write

Dev/support/add eslinter and prettier (#27)
  .eslintignore
  .eslintrc
  .github/workflows/tsc-and-lint.yml
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  package.json
  src/components/error.boundary.tsx
  src/components/weather.accordion.tsx
  src/contexts/index.tsx
  src/pages/about.page.tsx
  src/pages/error.page.tsx
  src/pages/index.page.tsx
  src/pages/settings.page.tsx
  src/pages/weather.page.tsx
  src/services/api/index.ts
  src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chg:run tsc-and-lint.yml on every PR
  .github/workflows/tsc-and-lint.yml
Due: none

fix:prettier command was not finding files
  package.json
Due: prettier --write

fix:test for sunrise/sunset does not work on CI/CD due to timezones, so skip timezone check
  cypress/component/services/api.cy.js
Due: eslint --fix, prettier --write

fix:skip js files on eslint;skip cypress screenshots on gitignore
  .eslintignore
  .gitignore
Due: none

Dev/support/add tests and plugins (#28)
  .eslintignore
  .eslintrc
  .github/workflows/tsc-and-lint.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  cypress/component/services/api.cy.js
  cypress/support/commands.js
  package.json
  src/components/error.boundary.tsx
  src/components/weather.accordion.tsx
  src/contexts/index.tsx
  src/pages/about.page.tsx
  src/pages/error.page.tsx
  src/pages/index.page.tsx
  src/pages/settings.page.tsx
  src/pages/weather.page.tsx
  src/services/api/index.ts
  src/theme.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add:repository link on about page
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

Dev/change GitHub link to repo (#29)
  cypress/component/components/bottom.nav.bar.cy.js
  src/components/bottom.nav.bar.tsx
  src/constants.ts
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

fix:add spaces between links
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

chg:disable no-extra-semi rule
  .eslintrc
Due: none

fix:linting workflow was not running bc of bad yml
  .github/workflows/tsc-and-lint.yml
Due: none

add:use @hammzj/cypress-page-object
  .npmrc
  cypress/component/components/weather.view.container.cy.js
  cypress/page_objects/components/additional.weather.details.object.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/current.weather.card.object.js
  cypress/page_objects/components/location.buttons.list.object.js
  cypress/page_objects/components/location.data.button.object.js
  cypress/page_objects/components/location.search.form.object.js
  cypress/page_objects/components/precipitation.chance.object.js
  cypress/page_objects/components/settings.menu.object.js
  cypress/page_objects/components/top.nav.bar.object.js
  cypress/page_objects/components/weather.accordion.object.js
  cypress/page_objects/components/weather.icon.object.js
  cypress/page_objects/components/weather.view.container.object.js
  cypress/page_objects/element.collection.js
  cypress/page_objects/pages/index.page.object.js
  cypress/page_objects/pages/location.results.page.object.js
  cypress/page_objects/pages/page.object.js
  cypress/page_objects/pages/settings.page.object.js
  cypress/page_objects/pages/weather.page.object.js
  cypress/tsconfig.json
  package.json
  src/components/bottom.nav.bar.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix:some test cleanup for new page object package
  cypress/e2e/pages/weather.page.cy.js
Due: eslint --fix, prettier --write
