Repository hammzj/simple-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix -c ./cypress/.eslintrc.cjs, stylelint --fix, prettier --write

chg: update some dependencies
  cypress.config.js
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

rm:debug statement
  src/theme.tsx
Due: eslint --fix, prettier --write

chg:update dependencies
  package.json
  yarn.lock
Due: prettier --write

add:allow manual triggers
  .github/workflows/test.yml
Due: none

chg:use auto timezone
  .idea/jsLibraryMappings.xml
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

chg:use auto timezone (#44)
  .idea/jsLibraryMappings.xml
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

v4 actions
  .github/workflows/build-and-deploy.yml
Due: none

Update build-and-deploy.yml
  .github/workflows/build-and-deploy.yml
Due: none

Update build-and-deploy.yml (#46)
  .github/workflows/build-and-deploy.yml
Due: none

fix:auto timezone
  src/components/utils.tsx
Due: eslint --fix, prettier --write

chg:run only chrome on github actions
  .github/workflows/test.yml
Due: none

add:fallback message for saved locations
  cypress/component/components/saved.locations.cy.js
  src/components/saved.locations.tsx
Due: eslint --fix, prettier --write

add:fallback message for saved locations (#48)
  cypress/component/components/saved.locations.cy.js
  src/components/saved.locations.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  eslint --fix -c ./cypress/.eslintrc.cjs: any of: cypress/*.{cjs,mjs,js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{cjs,mjs,js,jsx,ts,tsx,json,css,md}
