Repository hammzj/simple-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix -c ./cypress/.eslintrc.cjs, stylelint --fix, prettier --write

add:navbars
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/top.nav.bar.cy.js
  cypress/e2e/pages/location.results.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/top.nav.bar.object.js
  cypress/page_objects/pages/location.results.page.object.js
  cypress/page_objects/pages/weather.page.object.js
  src/components/bottom.nav.bar.tsx
  src/components/constants.ts
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/components/message.tsx
  src/components/page.tsx
  src/components/top.nav.bar.tsx
  src/components/weather.summary.accordion.tsx
  src/components/weather.view.container.tsx
  src/pages/index.page.tsx
  src/pages/location.results.page.tsx
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

add:about page
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/precipitation.chance.cy.js
  cypress/component/components/weahter.icon.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/index.page.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/pages/index.page.object.js
  cypress/page_objects/pages/location.results.page.object.js
  src/components/bottom.nav.bar.tsx
  src/components/constants.ts
  src/components/open-meteo-attribution-link.tsx
  src/components/precipitation.chance.tsx
  src/components/utils.tsx
  src/components/weather.summary.accordion.tsx
  src/constants.ts
  src/pages/about.page.tsx
  src/routes/router.js
Due: eslint --fix, prettier --write

Dev/app/add menu bars and about page (#5)
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/precipitation.chance.cy.js
  cypress/component/components/top.nav.bar.cy.js
  cypress/component/components/weahter.icon.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/location.results.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/top.nav.bar.object.js
  cypress/page_objects/pages/index.page.object.js
  cypress/page_objects/pages/location.results.page.object.js
  cypress/page_objects/pages/weather.page.object.js
  src/components/bottom.nav.bar.tsx
  src/components/constants.ts
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/components/message.tsx
  src/components/open-meteo-attribution-link.tsx
  src/components/page.tsx
  src/components/precipitation.chance.tsx
  src/components/top.nav.bar.tsx
  src/components/utils.tsx
  src/components/weather.summary.accordion.tsx
  src/components/weather.view.container.tsx
  src/constants.ts
  src/pages/about.page.tsx
  src/pages/index.page.tsx
  src/pages/location.results.page.tsx
  src/pages/weather.page.tsx
  src/routes/router.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

chg:fix some tests up
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/location.data.button.cy.js
  cypress/component/components/weahter.icon.cy.js
  cypress/component/services/api.cy.js
  cypress/component/services/open_meteo_api/utils.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  package.json
  src/components/open-meteo-attribution-link.tsx
Due: eslint --fix, prettier --write

add:initial theme;will improve and refactor later
  cypress/component/components/weather.view.container.cy.js
  src/App.jsx
  src/components/bottom.nav.bar.tsx
  src/components/current.weather.card.tsx
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/components/open-meteo-attribution-link.tsx
  src/components/top.nav.bar.tsx
  src/components/weather.summary.accordion.tsx
  src/components/weather.view.container.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add:initial theme;will improve and refactor later
  src/pages/about.page.tsx
Due: eslint --fix, prettier --write

Dev/app/add css (#6)
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/location.data.button.cy.js
  cypress/component/components/weahter.icon.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/component/services/api.cy.js
  cypress/component/services/open_meteo_api/utils.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  package.json
  src/App.jsx
  src/components/bottom.nav.bar.tsx
  src/components/current.weather.card.tsx
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/components/open-meteo-attribution-link.tsx
  src/components/top.nav.bar.tsx
  src/components/weather.summary.accordion.tsx
  src/components/weather.view.container.tsx
  src/pages/about.page.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add:homepage
  package.json
Due: prettier --write

add:Create test and deploy workflow
  .github/workflows/main.yml
Due: none

fix:package.json
  package.json
Due: prettier --write

wip:messing with cypress testing and starting dev server
  .github/workflows/main.yml
Due: none

chg:use test workflow for now
  .github/test.yml
Due: none

add:build-and-deploy.yml
  .github/build-and-deploy.yml
Due: none

fix:deploy on push to main
  .github/build-and-deploy.yml
Due: none

Update README.md (#7)
  README.md
Due: prettier --write

Rename .github/build-and-deploy.yml to .github/workflows/build-and-deploy.yml
  .github/workflows/build-and-deploy.yml
Due: none

Rename .github/test.yml to .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

fix: correct yarn script names
  .github/workflows/test.yml
Due: none

add:use hash router when using github pages
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/text.link.cy.js
  src/components/bottom.nav.bar.tsx
  src/components/open-meteo-attribution-link.tsx
  src/components/text.link.tsx
  src/pages/about.page.tsx
  src/routes/router.js
Due: eslint --fix, prettier --write

fix:mobile sizing
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/components/weather.accordion.object.js
  cypress/page_objects/components/weather.view.container.object.js
  cypress/page_objects/element.collection.js
  src/components/current.weather.card.tsx
  src/components/page.tsx
  src/components/precipitation.chance.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.view.container.tsx
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

fix:tabs color
  src/components/weather.view.container.tsx
Due: eslint --fix, prettier --write

fix:align bottom nav bar with a grid
  src/components/bottom.nav.bar.tsx
Due: eslint --fix, prettier --write

fix:error page
  src/pages/error.page.tsx
Due: eslint --fix, prettier --write

fix:error page
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  src/components/bottom.nav.bar.tsx
  src/pages/index.page.tsx
Due: eslint --fix, prettier --write

fix:remove border radius
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/pages/location.results.page.tsx
Due: eslint --fix, prettier --write

add:monospace font
  package.json
  src/App.css
  src/App.jsx
  src/fonts.jsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

add:path for github pages entrypoint
  src/routes/paths.js
  src/routes/router.js
Due: eslint --fix, prettier --write

add:some css and theming
  src/App.css
  src/App.jsx
  src/components/location.search.form.tsx
  src/components/text.link.tsx
  src/custom.d.ts
  src/index.css
  src/index.js
  src/pages/location.results.page.tsx
  src/theme.jsx
Due: eslint --fix, stylelint --fix, prettier --write

add: only run build-and-deploy.yml on push
  .github/workflows/build-and-deploy.yml
Due: none

fix:palette was not being imported correctly
  src/theme.jsx
Due: eslint --fix, prettier --write

add:badges to readme for workflows
  README.md
Due: prettier --write

Update README.md (#9)
  README.md
Due: prettier --write

Dev/app/fix css, mobile responsiveness, and GitHub pages links (#8)
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  README.md
  cypress/component/components/bottom.nav.bar.cy.js
  cypress/component/components/text.link.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/weather.accordion.object.js
  cypress/page_objects/components/weather.view.container.object.js
  cypress/page_objects/element.collection.js
  package.json
  src/App.css
  src/App.jsx
  src/components/bottom.nav.bar.tsx
  src/components/current.weather.card.tsx
  src/components/location.data.button.tsx
  src/components/location.search.form.tsx
  src/components/open-meteo-attribution-link.tsx
  src/components/page.tsx
  src/components/precipitation.chance.tsx
  src/components/text.link.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.view.container.tsx
  src/custom.d.ts
  src/fonts.jsx
  src/index.css
  src/index.js
  src/pages/about.page.tsx
  src/pages/error.page.tsx
  src/pages/index.page.tsx
  src/pages/location.results.page.tsx
  src/pages/weather.page.tsx
  src/routes/paths.js
  src/routes/router.js
  src/theme.jsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  eslint --fix -c ./cypress/.eslintrc.cjs: any of: cypress/*.{cjs,mjs,js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{cjs,mjs,js,jsx,ts,tsx,json,css,md}
