Repository hammzj/simple-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix -c ./cypress/.eslintrc.cjs, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "cypress/*.{cjs,mjs,js,jsx,ts,tsx}": [
    "eslint --fix -c ./cypress/.eslintrc.cjs"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{cjs,mjs,js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

add:need github token for auth
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

add:use NPM_AUTH_TOKEN
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:try to manually create npmrc
  .github/workflows/tsc-and-lint.yml
Due: none

fix:try another way
  .github/workflows/tsc-and-lint.yml
Due: none

fix:move env to job level
  .github/workflows/tsc-and-lint.yml
Due: none

fix:try npmrc again
  .github/workflows/tsc-and-lint.yml
Due: none

fix:try npmrc again
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:try npmrc again
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
Due: none

Dev/use cypress page object for tests (#30)
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
  .npmrc
  cypress/component/components/weather.view.container.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/components/additional.weather.details.object.js
  cypress/page_objects/components/bottom.nav.bar.object.js
  cypress/page_objects/components/current.weather.card.object.js
  cypress/page_objects/components/location.buttons.list.object.js
  cypress/page_objects/components/location.data.button.object.js
  cypress/page_objects/components/location.search.form.object.js
  cypress/page_objects/components/precipitation.chance.object.js
  cypress/page_objects/components/settings.menu.object.js
  cypress/page_objects/components/top.nav.bar.object.js
  cypress/page_objects/components/weather.accordion.object.js
  cypress/page_objects/components/weather.icon.object.js
  cypress/page_objects/components/weather.view.container.object.js
  cypress/page_objects/element.collection.js
  cypress/page_objects/pages/index.page.object.js
  cypress/page_objects/pages/location.results.page.object.js
  cypress/page_objects/pages/page.object.js
  cypress/page_objects/pages/settings.page.object.js
  cypress/page_objects/pages/weather.page.object.js
  cypress/tsconfig.json
  package.json
  src/components/bottom.nav.bar.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix:only install production dependencies
  .github/workflows/build-and-deploy.yml
Due: none

add:use node_env=production
  .github/workflows/build-and-deploy.yml
Due: none

fix:yarn install --production not working -- use npmrc file
  .github/workflows/build-and-deploy.yml
Due: none

fix:try to use npmrc again
  .github/workflows/build-and-deploy.yml
Due: none

wip:allow adding a favorite location
  src/components/location.data.button.tsx
  src/components/saved.locations.quick.data.tsx
  src/components/savedLocationCheckbox.tsx
  src/components/utils.tsx
  src/constants.ts
  src/pages/index.page.tsx
  src/pages/weather.page.tsx
  src/services/open_meteo_api/utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

wip:allow adding a favorite location
  src/components/saved.locations.quick.data.tsx
  src/components/savedLocationCheckbox.tsx
  src/components/settings.menu.tsx
  src/components/utils.tsx
  src/constants.ts
  src/pages/index.page.tsx
Due: eslint --fix, prettier --write

add:allow adding one favorite location
  src/components/saved.location.checkbox.tsx
  src/components/saved.locations.quick.data.tsx
  src/components/savedLocationCheckbox.tsx
  src/components/utils.tsx
  src/constants.ts
  src/pages/index.page.tsx
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

test:allow adding one favorite location
  cypress.config.mjs
  cypress/component/components/saved.locations.cy.js
  cypress/page_objects/components/current.weather.card.object.js
  cypress/page_objects/components/saved.locations.object.js
  src/components/saved.locations.tsx
  src/pages/index.page.tsx
Due: eslint --fix, prettier --write

fix:tsc
  cypress.config.js
  cypress/component/components/saved.locations.cy.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/page_objects/components/saved.locations.object.js
  cypress/page_objects/pages/index.page.object.js
  package.json
  src/components/saved.location.checkbox.tsx
  src/components/saved.locations.tsx
  src/components/utils.tsx
  src/pages/weather.page.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

add:e2e and component tests for saving a location
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/saved.location.checkbox.cy.js
  cypress/component/components/saved.locations.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/component/services/api.cy.js
  cypress/e2e/pages/settings.page.and.website.settings.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/fixtures/open_meteo_api/forecast_api/coordinates.berlin.json
  cypress/fixtures/open_meteo_api/forecast_api/coordinates.raleigh.json
  cypress/fixtures/open_meteo_api/forecast_api/fetch.all.weather.for.location.200.berlin.json
  cypress/fixtures/open_meteo_api/forecast_api/fetch.all.weather.for.location.200.raleigh.json
  cypress/page_objects/components/saved.location.checkbox.object.js
  cypress/page_objects/pages/weather.page.object.js
  cypress/support/commands.js
  src/components/saved.location.checkbox.tsx
  src/pages/weather.page.tsx
Due: eslint --fix, prettier --write

add:increment version for the fun of it
  package.json
Due: prettier --write

Dev/add only one favorite location (#31)
  cypress.config.js
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/saved.location.checkbox.cy.js
  cypress/component/components/saved.locations.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/component/services/api.cy.js
  cypress/e2e/pages/index.page.cy.js
  cypress/e2e/pages/settings.page.and.website.settings.cy.js
  cypress/e2e/pages/weather.page.cy.js
  cypress/fixtures/open_meteo_api/forecast_api/coordinates.berlin.json
  cypress/fixtures/open_meteo_api/forecast_api/coordinates.raleigh.json
  cypress/fixtures/open_meteo_api/forecast_api/fetch.all.weather.for.location.200.berlin.json
  cypress/fixtures/open_meteo_api/forecast_api/fetch.all.weather.for.location.200.raleigh.json
  cypress/page_objects/components/current.weather.card.object.js
  cypress/page_objects/components/saved.location.checkbox.object.js
  cypress/page_objects/components/saved.locations.object.js
  cypress/page_objects/pages/index.page.object.js
  cypress/page_objects/pages/weather.page.object.js
  cypress/support/commands.js
  package.json
  src/components/location.data.button.tsx
  src/components/saved.location.checkbox.tsx
  src/components/saved.locations.tsx
  src/components/settings.menu.tsx
  src/components/utils.tsx
  src/constants.ts
  src/pages/index.page.tsx
  src/pages/weather.page.tsx
  src/services/open_meteo_api/utils.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

add:better font resizing and margins
  src/components/current.weather.card.tsx
  src/components/saved.locations.tsx
Due: eslint --fix, prettier --write

add:better font resizing and margins (#32)
  src/components/current.weather.card.tsx
  src/components/saved.locations.tsx
Due: eslint --fix, prettier --write

add:set loading message
  cypress/component/components/saved.locations.cy.js
  src/components/saved.locations.tsx
Due: eslint --fix, prettier --write

add:set loading message (#34)
  cypress/component/components/saved.locations.cy.js
  src/components/saved.locations.tsx
Due: eslint --fix, prettier --write

fix:test was nested in another test so it would not execute
  cypress/component/components/saved.locations.cy.js
Due: eslint --fix, prettier --write

add:new weather icons
  README.md
  src/index.js
  src/weather_icons/font/weathericons-regular-webfont.eot
  src/weather_icons/font/weathericons-regular-webfont.svg
  src/weather_icons/font/weathericons-regular-webfont.ttf
  src/weather_icons/font/weathericons-regular-webfont.woff
  src/weather_icons/font/weathericons-regular-webfont.woff2
  src/weather_icons/index.jsx
  src/weather_icons/styles/weather-icons.min.css
Due: eslint --fix, stylelint --fix, prettier --write

add:tests for new weather icons + associated utils
  cypress/component/components/precipitation.chance.cy.js
  cypress/component/components/utils.cy.js
  cypress/component/components/weahter.icon.cy.js
  cypress/component/components/weather.icon.cy.js
  cypress/page_objects/components/precipitation.chance.object.js
  cypress/page_objects/components/weather.icon.object.js
  cypress/support/component.js
  src/components/precipitation.chance.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/index.css
  src/index.js
  src/weather_icons/index.jsx
  src/weather_icons/styles/weather-icons.css
Due: eslint --fix, stylelint --fix, prettier --write

chg:some css styling
  src/components/weather.accordion.tsx
Due: eslint --fix, prettier --write

chg:some css styling
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/saved.locations.cy.js
  cypress/component/components/weather.icon.cy.js
  cypress/component/components/weather.view.container.cy.js
  src/components/weather.accordion.tsx
Due: eslint --fix, prettier --write

chg:weather icon now returns a default when weather code does not exist
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.icon.cy.js
  cypress/page_objects/components/weather.icon.object.js
Due: eslint --fix, prettier --write

New weather icons (#35)
  README.md
  cypress/component/components/current.weather.card.cy.js
  cypress/component/components/precipitation.chance.cy.js
  cypress/component/components/saved.locations.cy.js
  cypress/component/components/utils.cy.js
  cypress/component/components/weahter.icon.cy.js
  cypress/component/components/weather.accordion.cy.js
  cypress/component/components/weather.icon.cy.js
  cypress/component/components/weather.view.container.cy.js
  cypress/page_objects/components/precipitation.chance.object.js
  cypress/page_objects/components/weather.icon.object.js
  cypress/support/component.js
  src/components/precipitation.chance.tsx
  src/components/utils.tsx
  src/components/weather.accordion.tsx
  src/components/weather.icon.tsx
  src/index.css
  src/index.js
  src/weather_icons/font/weathericons-regular-webfont.eot
  src/weather_icons/font/weathericons-regular-webfont.svg
  src/weather_icons/font/weathericons-regular-webfont.ttf
  src/weather_icons/font/weathericons-regular-webfont.woff
  src/weather_icons/font/weathericons-regular-webfont.woff2
  src/weather_icons/index.jsx
  src/weather_icons/styles/weather-icons.css
  src/weather_icons/styles/weather-icons.min.css
Due: eslint --fix, stylelint --fix, prettier --write

chg:use reusable workflow for setting up node + better test config
  .github/workflows/build-and-deploy.yml
  .github/workflows/setup-node.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix:yml config was incorrect
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none

fix: use checkout action first
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tsc-and-lint.yml
Due: none
